body {
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, sans-serif;
    -webkit-backface-visibility: hidden;
    font-size: 14px;   
}

@-ms-viewport {
	width: device-width;
}

body * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.square {
    float: left;
    position: relative;
    width: 33.3%;
    padding-bottom : 33.3%;
    border-radius: 5px;
    background-color: #81C784;    
}

.dndTilesBoard, 
.dndTilesBoardThumbnail {
    display: inline-block;
    position: relative;
    user-select: none;    
    background-color:#81C784;
    border-radius: 2px;
    overflow: hidden;
}

.shadowBox{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 1px 4px;
}


.gameViewContainer{
    display: flex;
    flex-direction: row;
}

@media all and (min-width: 400px) {
    .dndTilesBoardThumbnail {
        position: relative;
        height: 300px;
        width: 300px;
    }    
    .tilesBoardContainer,
    .dndTilesBoard{
       height: 60vw;
        width: 60vw;
        max-width: 400px;
        max-height: 400px;
    }
.totalPanel{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15px;
    }
    .score{
        margin-top: 20px;
    }
               
}

@media all and (max-width: 700px) and (min-height: 300px){
    .gameViewContainer{
        flex-direction: row;
    }
    .tilesBoardContainer,
    .dndTilesBoard
     {
        height: 280px;
        width: 280px;
    }
}


@media all and (max-width: 400px){
    .gameViewContainer{
        flex-direction: column;
    }
    .tilesBoardContainer,
    .dndTilesBoard
     {
        height: 280px;
        width: 280px;
    }
    .dndTilesBoardThumbnail {
        height: 250px;
        width: 250px;
    }
   .totalPanel{
        display: flex;
        margin-top: 15px;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 0px;
    }
    .score{
        margin-top: 0px;
        margin-right: 20px;
    }    
}

.draggable{
    cursor: pointer;
}

.tile,
.emptyTile {
    position:absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 5px;
    box-sizing: border-box;
    border-width: 1px;
    box-sizing: border-box;   
}

.tile {
    background-color: #C8E6C9;
        border-color: #81C784;
}

.hidden {
    display: none;
}

.emptyTile {
    background-color: #81C784;
    border-color: #81C784;
}

.matchedTile {
  animation: background-blink 0.5s;
}

@keyframes background-blink {
  0% {
    background-color: #C8E6C9;
  }
  50% {
    background-color: #FF5722;
  }
  100% {
    background-color: #C8E6C9;
  }
}

.draggingTile {
    opacity: 0.7;
}

.rightImage, .topImage, .leftImage, .bottomImage{
    width: 50%;
    height: 50%;
    pointer-events: none;
}

.rightImage {
    position: absolute;
    right: 0;
    transform: scale(-1, 1) translate(0, 50%);
}

.topImage{
    transform: rotate(90deg) translate(0%, -50%);
    text-align: center;
}

.leftImage {
    position: absolute;
    left: 0;
    transform: translate(0%, 50%);
}

.bottomImage {
    text-align: center;
    position: absolute;
    bottom: 0;
    transform: rotate(90deg) scale(-1, 1) translate(0, -50%);
}
